<template>
  <div class="home">
    <Homescreen msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
//components内のHomescreenへ飛ばします
import Homescreen from '@/components/Homescreen.vue'

export default {
  name: 'home',
  components: {
    Homescreen
  }
}
</script>
<style lang="scss">
.home {
  width: 100%;
  height: 400px;

  position: relative;/*←相対位置*/
}
</style>
