<template>
  <div class="login">
    <Loginscreen />
  </div>
</template>

<script>
//components内のLoginscreenへ飛ばします
import Loginscreen from '@/components/Loginscreen.vue'

export default {
  name: 'login',
  components: {
    Loginscreen
  }
}
</script>
