<template>
  <div id="wifi">
    <Header />
    <Wificontents />
    <Footer />
  </div>

</template>

<script>
//components内のLoginscreenへ飛ばします
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Wificontents from '@/components/Wificontents.vue'

export default {
  name: 'wifi',
  components: {
    Header,
    Footer,
    Wificontents
  }
}
</script>
<style lang="scss">
#wifi {
  width: 100%;
  height: 100%;

  position: relative;/*←相対位置*/
}
</style>