<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      bottom = false
    >
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>announcement</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>お知らせ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>event_available</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>イベント</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

          <v-list-item link to="/wifi">
            <v-list-item-action>
              <v-icon>wifi</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>wifiのパスワード</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>face</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Team Member</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>meeting_room</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>会議日程</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>check_box</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>各種申請</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>security</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>セキュリティに関して</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


        <v-list-item link>
          <v-list-item-action>
            <v-icon>sms</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>みんなの声</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>show_chart</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>株価</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      <v-list-item link>
          <v-list-item-action>
            <v-icon>star</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>サイト作成者</v-list-item-title>
          </v-list-item-content>
      </v-list-item>

      <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
        <router-link id="nav" to="/">
          <v-btn block>Logout</v-btn>
        </router-link>  
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="primary"
      dark
      
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar>

  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
    created () {
      //this.$vuetify.theme.dark = true
    },
  }
</script>
