<template>

  <div id="app">
    <Header />
    <div id="app1">
      <Homecontents />
    </div>
    <Footer />
  </div>

</template>

<script>
//components内のLoginscreenへ飛ばします
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Homecontents from '@/components/Homecontents.vue'

export default {
  name: 'header',
  components: {
    Header,
    Footer,
    Homecontents
  }
}
</script>
<style lang="scss">
#app1 {
  width: 100%;
  height: 400px;

  position: relative;/*←相対位置*/
}
</style>